[req]
distinguished_name = i_am_server
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = UK
ST = Avon
L = Bristol
O = ITello
OU = Development
CN = server.itello.co.uk
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = plinkyplonk.local
DNS.2 = company.com
DNS.3 = company.net